<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<div>
<h1> {{title}}</h1>
<h3>{{title2}}</h3>
<p>TIEMPO DE APRENDER ANGULAR</p>



<button (click)="ocultarJuegos()" *ngIf = "mostrar_juegos">OCULTAR!</button>
<p> </p>
<button (click)="mostrarJuegos()" *ngIf = "!mostrar_juegos">MOSTRAR!</button>

<!-- dentro del componente videojuego, utilizamos una condicional
donde si "mostrar_juegos" es true, se mostrara el componente.
si fuera "false" ya no se mostrara el componente y funcionara
el hook "OnDestroy"-->
<videojuego *ngIf = "mostrar_juegos"></videojuego>
<cursos></cursos>
</div>
  

<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->



<router-outlet></router-outlet>